

.shop {
  background: #c73636;
}

.shop-container {
  display: grid;
  grid-template-rows: 150px 1fr 150px;
  grid-template-columns: 1fr;
  background: #f7f7f7;
}

.grid-subdiv-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
  padding: 10px;
  text-align: center;
  background: #f7f7f7;
  color: black;
}
.grid-subdiv-1 p {
  width: 80%;
}

.grid-subdiv-2 {
  background: #f0f0f0;
}

.grid-subdiv-3 {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.7vh;
  justify-items: center;
  align-items: center;
  justify-self: center;

}

.shopping-card-container {
  width: 250px;
}



@media screen and (max-width: 952px) {
  body {
    overflow-x: hidden;
  }
    .grid-subdiv-3 {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 5px;
      justify-items: center;
      align-items: center;
      justify-self: center;

  }
}

@media screen and (max-width: 768px){
  body {
    overflow-x: hidden;
  }

  .grid-subdiv-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    justify-self: center;

  }

    .grid-subdiv-1 {
        font-size: 12px;
  }

}

@media screen and (max-width: 375px) {

    .shop-container {
      display: grid;
      grid-template-rows: 25vh 1fr 25vh;
      grid-template-columns: 1fr;
      background: #f7f7f7;
    }

    .grid-subdiv-3 {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 5px;
      justify-items: center;
      align-items: center;
      justify-self: center;

    }

    .grid-subdiv-1 {
          font-size: 12px;

    }
    .shopping-card-container > img {
      width: 100%;
      height: auto;
    }

    .shopping-card-container {
      width: 100%;
      padding: 10px;
    }

}



.grid-subdiv-3 div {
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
}

.grid-shopping-cart-icon {
  width: 20px;
  height: 20px;
}
.shopping-card-info {
  display: flex;
  flex-direction: column;
}

.shopping-card-info p {
  padding-top: 10px;
  padding-bottom: 10px;

}

.shopping-card-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.p-price {
  font-weight: bold;
  font-size: 16px;
