*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
}
.hide {
    display: none;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #DD9886;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.12);

}
html {
  scroll-behavior: smooth;
}
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    left:200px;
}
.logo a{
    text-decoration: none;
    color: rgb(226, 226, 226);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
   color: rgb(226, 226, 226);
   text-decoration: none;
   letter-spacing: 3px;
   cursor: pointer;
}

.nav-links li{
  padding: 5px;
  display: flex;
   list-style: none;
   min-height: 8vh;
   align-items: center;
   cursor: pointer;
   font-size: 18px;
}


.line {
  background: #9e1515;
  position: absolute;
  transition-property: left, right, width;
  transition-duration: 0.2s;
}


.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
             position: absolute;
             right: 0px;
             height: 92vh;
             top: 8vh;
             background-color: #DB7F67;
             display: flex;
             flex-direction: column;
             align-items: center;
             width: 40%;
             transform: translateX(100%);
             transition: transform 0.5s ease-in;
    }
    .nav-links li{
         opacity: 0;
    }
    .burger{
        display: block;
    }
    .line {
      display: none;
    }
}

.nav-active{
    transform: translateX(0%);
}
@keyFrames navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px):
    }
    to{
        opacity: 1;
                transform: translateX(0px):
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

#showcase{
    background-image: url("../img/background2.jpg");
    height: 92vh;
    background-position: center;
    background-size: cover;
    color: #DD9886;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}
#showcase h1{
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 90%;
    margin-bottom: 10px;

}
#showcase p{
    font-size: 20px;
    margin-bottom: 30px;
}
#showcase .button{
    font-size: 14px;
    text-decoration: none;
    padding: 10px 40px;
    background: linear-gradient(to right, #DD9886, #F2D2B3);
    border-radius: 30px;
    transition: .5s;
    color: black;


}
.showcase-text{
    margin-left: 15%;
    margin-right: 15%;
}


.about-us {
  height: 100vh;
  display: flex;
}
.about-us-left{
  width: 50%;
  background-image: url("../img/background3.jpg");
  background-position: center;
  background-size: cover;
}
.about-us-right{
  width: 50%;
  color: #F7E2BF;
  padding: 170px;
  padding-top: 100px;
  padding-bottom: 200px;
  background: #DD9886;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us-right h2{
  font-size: 28px;
  text-align: center;
}
.about-us-right p{
  font-size: 14px;
  line-height: 1.7;
}

.products {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #F8F4F4;
  padding: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #DD9886;
}
.prod-line-one {
  text-align: center;
  font-size: 28px;
}
.prod-line-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.prod-line-two > div {
  width: 200px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.prod-elem-desc {
  padding: 15px;
}
.prod-elem-desc p {
  padding-top: 5px;
  font-size: 14px;
}

.products img {
  border-radius: 15px 15px 0px 0px;
  height: 200px;
  width: 200px;
}
.prod-line-three {
  text-align: center;
  display: flex;
  justify-content: center;
}
.prod-line-three div{
  font-size: 14px;
  text-decoration: none;
  padding: 10px 40px;
  background: linear-gradient(to right, #DD9886, #F2D2B3);
  border-radius: 30px;
  transition: .5s;
  color: black;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);

}
.prod-line-three a {
  text-decoration: none;
  color: black;
}

.benefits {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #DD9886;
  padding: 200px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #F7E2BF;

}
.benefits-line-one {
  text-align: center;
  font-size: 28px;
}
.benefits-line-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.benefits-line-two > div {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefits-elem-desc p {
  padding-top: 5px;
  font-size: 14px;
}

.benefits img {
  border-radius: 15px 15px 0px 0px;
  height: 250px;
  width: 250px;
}

.contacts {
  height: 100vh;
  background: #F8F4F4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #DD9886;
  background: #F8F4F4;
}
.contacts p, li {
  font-size: 12px;
  line-height: 1.5;
}

.contacts-line-one {
  font-size: 28px;
  text-align: center;
}

.contacts-line-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 55vh;
}
.cont-info {
  background: #F7E2BF;
  padding: 50px;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icons{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.circly-thingy-icons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #DD9886;
}
.text-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  width: 70%;
  padding: 50px;
  border-radius: 0px 15px 15px 0px;
}
.text-info input {
  border: none;
  border-radius: 10px;
  background: #F8F4F4;
  height: 24px;
}
.text-info-second-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-info-second-line input{
  width: 100%;
}
.text-info-sl-mail {
  width: 45%;
}
.text-info-sl-phone {
  width: 45%;
}
.text-info-third-line, .text-info-first-line{
  display: flex;
  flex-direction: column;
}
.text-info-first-line input{
  width: 100%;

}
.text-info-third-line input{
  height: 70px;
}
.text-info-third-line button{
  font-size: 14px;
  border: none;
  padding: 10px 40px;
  background: linear-gradient(to right, #DD9886, #F2D2B3);
  border-radius: 30px;
  color: black;
  margin-top: 10px;
  width: 40%;
  align-self: center;
}
footer {
  font-size: 8px;
  color: black;
}
.icons {
  list-style: none;
}
/* переключатель стилей */

.off {
  display: none;
}

.on {
  animation-name: login-form-appearing;
  animation-duration: 0.6s;
}
.anim {
  animation-name: login-form-disappearing;
  animation-duration: 0.6s;
}

/* переключатель стилей */

/* тёмный задний фон */

.darken {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
}

/* тёмный задний фон */

/* анимация формы */

@keyframes login-form-appearing {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes login-form-disappearing {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-2000px); }
}

/* анимация формы */


.login-form-box{
    width: 380px;
    height: 480px;
    position: absolute;
    left:50%;
    margin-left:-190px;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    z-index: 9;
}
.login-button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #FDF5D8;
    border-radius: 30px;
}
.login-toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    left: 6px;

}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #DB7F67, #FCD757);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;

    background: linear-gradient(to right, #DB7F67, #FCD757);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.login-checkbox{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 62px;
    position: absolute;

}
#login{
    left: 50px;
}
#register{
    left: 450px;
}

/* little modal window */

.users-warning-modal {
  margin: 0 auto;
  position: absolute;
  top: -70px;
  width: 280px;
  height: 50px;
  background: #ffd4d4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
  animation-name: opacitywarningmodals;
  animation-duration: 0.2s;
}

.users-warning-modal img {
  height: 7px;
  width: 7px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  animation-name: opacitywarningmodals;
  animation-duration: 0.2s;
}

.login-warning-modal {
  margin: 0 auto;
  position: absolute;
  top: -70px;
  width: 280px;
  height: 50px;
  background: #abdbc2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
  animation-name: opacitywarningmodals;
  animation-duration: 0.2s;
}

.login-warning-modal img {
  height: 7px;
  width: 7px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  animation-name: opacitywarningmodals;
  animation-duration: 0.2s;
}

@keyframes opacitywarningmodals {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading-login {
  position: absolute;
  right: 5px;
  top: 20px;
  width: 15px;
  height: 15px;
  animation: spin 4s linear infinite;
}

.loading-password {
  position: absolute;
  right: 5px;
  top: 68px;
  width: 15px;
  height: 15px;
  animation: spin 4s linear infinite;
}


@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
