<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet"  type="text/css" href="/css/product.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Item</title>
    <script src="/js/loginplacer.js" defer></script>
    <script src="/js/navplacer.js" defer></script>
    <script src="/js/login.js" defer></script>
    <!-- <script src="/js/login-interaction.js" defer></script> -->

</head>
<body>

  <div id="nav-placeholder">

  </div>

  <div id="login-placeholder">

  </div>

  <div id="cart-placeholder">

  </div>

  <div class="index-ui">


  <div class="product-container">
    <div class="grid-col-1">
      <img th:src="${product.getProductPhotoUrl()}" id="productpic_prod">
    </div>
      <div class="grid-row-1">
         <p th:text="${product.getProductName()}" id="productname_prod"></p>
      </div>
      <div class="grid-row-2">
        <p th:text="${product.getProductDescription()}">

        </p>
      </div>
      <div class="grid-row-3">
        <input id="prodcontbtnsml_1" type="radio" name="product" checked>
        <label id="prodcontbtnsml_1_lable" for="prodcontbtnsml_1">small</label>
        <input id="prodcontbtnmed_2" type="radio" name="product" >
        <label id="prodcontbtnmed_2_lable" for="prodcontbtnmed_2">medium</label>
        <input id="prodcontbtnlrg_3" type="radio" name="product" >
        <label id="prodcontbtnlrg_3_lable" for="prodcontbtnlrg_3">large</label>
      </div>
      <div class="grid-row-4" id="placetopaste">
        <p th:text="${product.getProductPrices()[0]}" id="uno" class='placeofinterest'></p>
        <p th:text="${product.getProductPrices()[1]}" id="dos" class='placeofinterest'></p>
        <p th:text="${product.getProductPrices()[2]}" id="tres" class='placeofinterest'></p>
      </div>
      <div class="grid-row-5">
        <div class="plus-minus">
        <img id="imgminus" src="/img/minus-button.png" alt="">
        <p id="imgnumber" class="number">1</p>
        <img id="imgplus" src="/img/plus-button.png" alt="">
        </div>
        <div class="add-to-card-btn">
        <button id='addtocart' type="button" name="button">Add to card</button>
        </div>
      </div>
  </div>

  <div id=darken class="darken off"></div>

</div>

  <script src="/js/mobile-navbar.js" defer></script>
  <script src="/js/product.js" defer></script>
  <script src="/js/cartplacer.js" defer></script>
  <script src="/js/addingpurchases.js" defer></script>


</body>
</html>
