<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet"  type="text/css" href="/css/product.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

  <div id="nav-placeholder">

  </div>

  <div id="login-placeholder">

  </div>

  <div class="product-container">
    <div class="grid-col-1">
      <img th:src="${product.getProductPhotoUrl()}">
    </div>
      <div class="grid-row-1">
         <p th:text="${product.getProductName()}"></p>
      </div>
      <div class="grid-row-2">
        <p th:text="${product.getProductDescription()}">

        </p>
      </div>
      <div class="grid-row-3">
        <button type="button" name="button">small</button>
        <button type="button" name="button">medium</button>
        <button type="button" name="button">large</button>
      </div>
      <div class="grid-row-4">
        <p>£20</p>
      </div>
      <div class="grid-row-5">
        <div class="plus-minus">
        <img id="imgminus" src="/img/minus-button.png" alt="">
        <p id="imgnumber" class="number">1</p>
        <img id="imgplus" src="/img/plus-button.png" alt="">
        </div>
        <div class="add-to-card-btn">
        <button type="button" name="button">Add to card</button>
        </div>
      </div>
  </div>

  <div id=darken class="darken off"></div>

  <script src="/js/loginplacer.js"></script>
  <script src="/js/navplacer.js"></script>
  <script src="/js/mobile-navbar.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/login-interaction.js"></script>
  <script src="/js/shop.js"></script>
  <script src="/js/product.js"></script>



</body>
</html>
